.about-us {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

.about-us__title {
  margin-bottom: 50px;
}

.about-us__text {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}