.about-us {
  max-width: 1150px;
  width: 80%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

  @media (max-width: 1150px) {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.about-us__title {
  margin-bottom: 30px;

  @media (max-width: 1150px) {
    margin-bottom: 35px;
  }
}

.about-us__wrapper {
  margin-bottom: 60px;

  @media (max-width: 1150px) {
    margin-bottom: 50px;
  }
}

.about-us__text {
  margin-top: 0;
  text-align: justify;

  &:last-child {
    margin-bottom: 0;
  }
}