.direction {
  opacity: 0;

  &--active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .7s;
  }
}

.direction__title {
  margin-top: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.direction__list {
  @include reset-list;
}

.direction__item {
  margin-bottom: 10px;
}