.main-nav {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;

  &--ocher {
    background-color: lighten($basic-ocher, 18);
  }
}

.main-nav__list {
  @include reset-list;
  display: flex;
}

.main-nav__item {
  margin-left: 25px;
  font-weight: 700;
}

.main-nav__link {
  color: $basic-grey;
}