.page-footer {
  padding-top: 30px;
  background-color: $basic-background;
}

.page-footer__copyright {
  margin: 0;
  font-size: 14px;
  text-align: center;
  background-color: rgba($basic-olive, 0.1);
}