.person-card {
  width: 260px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-card__image {
  display: block;
  width: 260px;
  min-height: 260px;
  margin-bottom: 20px;

  @media (max-width: 1150px) {
    margin-bottom: 10px;
  }
}

.person-card__name {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.person-card__position {
  text-align: center;
}