.projects {
  max-width: 1150px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

  @media (max-width: 1150px) {
    margin-bottom: 75px;
  }
}

.projects__title {
  margin-bottom: 50px;

  @media (max-width: 1150px) {
    margin-bottom: 35px;
  }
}

.projects__wrapper {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.projects__tabs {
  margin-right: 50px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.projects__tab {
  position: relative;
  min-height: 70px;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 10px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  text-align: start;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: $basic-olive;
    transition-duration: 0.3s;
  }
  
  &--active {
    &::before {
      background-color: $basic-ocher;
      animation-name: rotate;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $basic-ocher;
    }
    outline: none;
  }

  @media (max-width: 1150px) {
    width: 200px;

    &--active {
      &::before {
        background-color: $basic-ocher;
        animation-name: rotate1150;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    &--active {
      &::before {
        background-color: $basic-ocher;
        animation-name: rotate768;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.projects__list {
  @include reset-list;
  position: relative;
}

.projects__item {
  @media (max-width: 1150px) {
    margin-bottom: 10px;
  }
}