.reviews {
  max-width: 1150px;
  width: 80%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;

  @media (max-width: 1150px) {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.reviews__title {
  margin-bottom: 50px;
}