.services-card {
  border-bottom: 2px solid rgba($basic-olive, 0.4);
  transition-duration: 0.5s;

  &:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 0 0 rgba($basic-ocher, 0.4);
  }

  &:nth-child(n+4) {
    border-bottom: 2px solid rgba($basic-olive, 0.6);
    
    &:hover {
      box-shadow: -10px 10px 0 0 rgba($basic-ocher, 0.6);
    }
  }

  &:nth-child(n+7) {
    border-bottom: 2px solid rgba($basic-olive, 0.8);

    &:hover {
      box-shadow: -10px 10px 0 0 rgba($basic-ocher, 0.8);
    }
  }
}

.services-card__title {
  font-weight: 400;
}