.services-card {
  transition-duration: .5s;
}

.services-card__title {
  min-height: 115px;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-bottom: 2px solid rgba($basic-olive, 0.4);
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 0 0 rgba($basic-ocher, 0.4);
  }

  &:active {
    background-color: rgba($basic-olive, 0.2);
    box-shadow: none;
    transform: none;
  }
  
  @media (max-width: 768px) {
    min-height: auto;

    &:hover {
      transform: none;
      box-shadow: none;
    }

    &:active {
      box-shadow: 0 0 0 8px rgba($basic-ocher, 0.4);
      transform: scale(0.95);
    }
  }
}

.services-card__text {
  text-align: justify;
  overflow-y: hidden;
  transition-duration: .5s;

  &--open {
    height: 80%;
  }

  &--close {
    height: 0;
    margin: 0;
  }
}