.team {
  max-width: 1150px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

  @media (max-width: 1150px) {
    margin-bottom: 75px;
  }
}

.team__title {
  margin-bottom: 50px;

  @media (max-width: 1150px) {
    margin-bottom: 35px;
  }
}

.team__list-wrapper {
  @media (max-width: 768px) {
    width: 100%;
    overflow: visible;
  }
}

.team__list {
  @include reset-list;
  position: relative;
}

.team__item {
  margin-right: 15px;
  margin-left: 30px;
  margin-top: 40px;
}

.team__image {
  display: block;
  width: 260px;
  min-height: 260px;
}

.team__description {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: justify;

  @media (max-width: 1150px) {
    margin-bottom: 50px;
  }
}