.title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 500;

  &--main {
    font-size: 34px;
  }
  
  @media (max-width: 1150px) {
    font-size: 26px;

    &--main {
      font-size: 26px;
    }
  }
}