.write-us {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba($basic-ocher, 0.4);
}

.write-us__wrapper {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.write-us__title {
  margin-bottom: 40px;
}

