$basic-white: #ffffff;
$basic-black: #000000;

//  Mexto Branding ->

/* Color Theme Swatches in Hex */
$basic-olive: #1B593C;
$basic-darkolive: #164028;
$basic-ocher: #D9C382;
$basic-lightgrey: #404040;
$basic-grey: #262626;

$basic-background: lighten($basic-ocher, 30);

/* Color Theme Swatches in RGBA */
$Mexto-Branding-1-rgba: rgba(26,89,60, 1);
$Mexto-Branding-2-rgba: rgba(21,63,39, 1);
$Mexto-Branding-3-rgba: rgba(216,195,130, 1);
$Mexto-Branding-4-rgba: rgba(63,63,63, 1);
$Mexto-Branding-5-rgba: rgba(38,38,38, 1);

/* Color Theme Swatches in HSLA */
$Mexto-Branding-1-hsla: hsla(151, 53, 22, 1);
$Mexto-Branding-2-hsla: hsla(146, 49, 16, 1);
$Mexto-Branding-3-hsla: hsla(45, 53, 68, 1);
$Mexto-Branding-4-hsla: hsla(0, 0, 25, 1);
$Mexto-Branding-5-hsla: hsla(0, 0, 15, 1);

//  Olive color theme 1 ->

// /* Color Theme Swatches in Hex */
// $olive-2-1-hex: #8FB281;
// $olive-2-2-hex: #59754D;
// $olive-2-3-hex: #123027;
// $olive-2-4-hex: #909772;
// $olive-2-5-hex: #444A4F;

// /* Color Theme Swatches in RGBA */
// $olive-2-1-rgba: rgba(142,177,128, 1);
// $olive-2-2-rgba: rgba(89,117,77, 1);
// $olive-2-3-rgba: rgba(17,47,38, 1);
// $olive-2-4-rgba: rgba(144,151,114, 1);
// $olive-2-5-rgba: rgba(68,73,79, 1);

// /* Color Theme Swatches in HSLA */
// $olive-2-1-hsla: hsla(102, 24, 60, 1);
// $olive-2-2-hsla: hsla(101, 20, 38, 1);
// $olive-2-3-hsla: hsla(162, 45, 12, 1);
// $olive-2-4-hsla: hsla(71, 15, 51, 1);
// $olive-2-5-hsla: hsla(207, 7, 28, 1);