$basic-white: #ffffff;
$basic-black: #000000;

$basic-olive: #006c5f;
$basic-darkolive: #164028;
$basic-ocher: #D9C382;
$basic-lightgrey: #404040;
$basic-grey: #262626;

$basic-background: lighten($basic-ocher, 30);